In [16]:
import pandas as pd
from timeit import default_timer as timer

In [12]:
df= pd.read_excel('PD 2021 Wk 18 Input.xlsx')
df

,Project,Sub-project,Task,Owner,Scheduled Date,Completed In Days from Scheduled Date
0,New Loyalty Scheme,Marketing,Scope,Tom,2021-04-19,0
1,New Loyalty Scheme,Marketing,Build,Tom,2021-04-21,2
2,New Loyalty Scheme,Marketing,Deliver,Tom,2021-04-30,5
3,New Loyalty Scheme,Operations,Scope,Jenny,2021-04-15,0
4,New Loyalty Scheme,Operations,Build,Jenny,2021-04-23,3
5,New Loyalty Scheme,Operations,Deliver,Jenny,2021-04-28,4
6,Spring Sale,Marketing,Scope,Carl,2021-04-22,0
7,Spring Sale,Marketing,Build,Carl,2021-04-29,6
8,Spring Sale,Marketing,Deliver,Carl,2021-05-04,3
9,Spring Sale,Operations,Scope,Jonathan,2021-04-25,0
10,Spring Sale,Operations,Build,Jonathan,2021-04-28,2
11,Spring Sale,Operations,Deliver,Jonathan,2021-05-02,4
12,New Trolley Inventory,Marketing,Scope,Tom,2021-05-02,0
13,New Trolley Inventory,Marketing,Build,Tom,2021-05-04,3
14,New Trolley Inventory,Marketing,Deliver,Tom,2021-05-12,5
15,New Trolley Inventory,Operations,Scope,Jenny,2021-04-30,0
16,New Trolley Inventory,Operations,Build,Jenny,2021-05-05,2
17,New Trolley Inventory,Operations,Deliver,Jenny,2021-05-11,6

In [29]:
df['Completion Date'] = df['Scheduled Date'] + pd.to_timedelta(df['Completed In Days from Scheduled Date'],'d')
df['Completed Weekday'] = df['Completion Date'].dt.day_name()

(18, 8)

In [35]:
index=['Owner', 'Project', 'Sub-project']
df_pivoted = df.pivot(index=index, columns='Task', values='Completion Date').reset_index().rename_axis(None, axis=1)
df_pivoted['Scope to Build Time'] = df_pivoted['Build'] - df_pivoted['Scope']
df_pivoted['Build to Delivery Time'] = df_pivoted['Deliver'] - df_pivoted['Build']
df_pivoted.drop(columns=['Build', 'Scope', 'Deliver'], inplace=True)
df_pivoted

,Owner,Project,Sub-project,Scope to Build Time,Build to Delivery Time
0,Carl,Spring Sale,Marketing,13 days,2 days
1,Jenny,New Loyalty Scheme,Operations,11 days,6 days
2,Jenny,New Trolley Inventory,Operations,7 days,10 days
3,Jonathan,Spring Sale,Operations,5 days,6 days
4,Tom,New Loyalty Scheme,Marketing,4 days,12 days
5,Tom,New Trolley Inventory,Marketing,5 days,10 days

In [36]:
df_output = pd.merge(df, df_pivoted, on=index)
df_output

,Project,Sub-project,Task,Owner,Scheduled Date,Completed In Days from Scheduled Date,Completion Date,Completed Weekday,Scope to Build Time,Build to Delivery Time
0,New Loyalty Scheme,Marketing,Scope,Tom,2021-04-19,0,2021-04-19,Monday,4 days,12 days
1,New Loyalty Scheme,Marketing,Build,Tom,2021-04-21,2,2021-04-23,Friday,4 days,12 days
2,New Loyalty Scheme,Marketing,Deliver,Tom,2021-04-30,5,2021-05-05,Wednesday,4 days,12 days
3,New Loyalty Scheme,Operations,Scope,Jenny,2021-04-15,0,2021-04-15,Thursday,11 days,6 days
4,New Loyalty Scheme,Operations,Build,Jenny,2021-04-23,3,2021-04-26,Monday,11 days,6 days
5,New Loyalty Scheme,Operations,Deliver,Jenny,2021-04-28,4,2021-05-02,Sunday,11 days,6 days
6,Spring Sale,Marketing,Scope,Carl,2021-04-22,0,2021-04-22,Thursday,13 days,2 days
7,Spring Sale,Marketing,Build,Carl,2021-04-29,6,2021-05-05,Wednesday,13 days,2 days
8,Spring Sale,Marketing,Deliver,Carl,2021-05-04,3,2021-05-07,Friday,13 days,2 days
9,Spring Sale,Operations,Scope,Jonathan,2021-04-25,0,2021-04-25,Sunday,5 days,6 days
10,Spring Sale,Operations,Build,Jonathan,2021-04-28,2,2021-04-30,Friday,5 days,6 days
11,Spring Sale,Operations,Deliver,Jonathan,2021-05-02,4,2021-05-06,Thursday,5 days,6 days
12,New Trolley Inventory,Marketing,Scope,Tom,2021-05-02,0,2021-05-02,Sunday,5 days,10 days
13,New Trolley Inventory,Marketing,Build,Tom,2021-05-04,3,2021-05-07,Friday,5 days,10 days
14,New Trolley Inventory,Marketing,Deliver,Tom,2021-05-12,5,2021-05-17,Monday,5 days,10 days
15,New Trolley Inventory,Operations,Scope,Jenny,2021-04-30,0,2021-04-30,Friday,7 days,10 days
16,New Trolley Inventory,Operations,Build,Jenny,2021-05-05,2,2021-05-07,Friday,7 days,10 days
17,New Trolley Inventory,Operations,Deliver,Jenny,2021-05-11,6,2021-05-17,Monday,7 days,10 days