# Prepping Data Challenge: Pokemon Hierarchies (week 10)
The aim of this challenge is to group Pokémon into Evolution Groups. Why? So that when we select any Pokémon, we can see all the information about what they evolved from, what they will evolve to etc.

How is this applicable to other hierarchical data? Well, imagine that a Pokémon that has a null in the Evolves From field is similar to an employee at Work Level 1 in an organisation. Their manager would then sit in the Evolves To field. Our Evolution Group in this instance would be the Team the employee belongs to and it would give us the ability to type in any employee name and return information about which team they belong to and the structure of that team.

## Requirement:
* Our Pokémon dataset actually contains too many Pokémon
    * We're only interested in Pokémon up to Generation III, which is up to (and including) number 386
    * This means we're also not interested in mega evolutions so we can filter Pokémon whose name start with "Mega"
* Some Pokémon have more than one Type. We aren't interested in Types for this challenge so remove this field and ensure we have one row per Pokémon
* Now we want to bring in information about what our Pokémon evolve to 
    * Warning!  In our Evolution dataset, we still have Pokémon beyond Gen III. You'll need to filter these out too, from both the evolved from and evolved to fields
* Bring in information about what a Pokémon evolves from
    * Ensure that we have all 386 of our Pokémon, with nulls if they don't have a pre-evolved form or if they don't evolve
* Finally, for Pokémon that have 3 evolutions, we want to know what the First Evolution is in their Evolution Group
* Some duplication may have occurred with all our joins, ensure no 2 rows are exactly the same
* Create a calculation for our Evolution Group
    * The Evolution Group will be named after the First Evolution e.g. in the above example, Bulbasaur is the name of the Evolution Group

In [2]:
import pandas as pd

In [4]:
df_pokemon = pd.read_excel('Pokemon Input.xlsx', sheet_name='Pokemon') 
df_evolutions = pd.read_excel('Pokemon Input.xlsx', sheet_name='Evolution')

## Our Pokémon dataset actually contains too many Pokémon

In [12]:
df_pokemon['#'] = df_pokemon['#'].astype('float')
df_pokemon = df_pokemon[(df_pokemon['#'] <= 386) & (~df_pokemon['Name'].str.contains('Mega'))]
df_pokemon.head(10)

,#,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,1.0,Bulbasaur,GRASS,318,45,49,49,65,65,45
1,1.0,Bulbasaur,POISON,318,45,49,49,65,65,45
2,2.0,Ivysaur,GRASS,405,60,62,63,80,80,60
3,2.0,Ivysaur,POISON,405,60,62,63,80,80,60
4,3.0,Venusaur,GRASS,525,80,82,83,100,100,80
5,3.0,Venusaur,POISON,525,80,82,83,100,100,80
8,4.0,Charmander,FIRE,309,39,52,43,60,50,65
9,5.0,Charmeleon,FIRE,405,58,64,58,80,65,80
10,6.0,Charizard,FIRE,534,78,84,78,109,85,100
11,6.0,Charizard,FLYING,534,78,84,78,109,85,100

## Some Pokémon have more than one Type. We aren't interested in Types for this challenge so remove this field and ensure we have one row per Pokémon

In [14]:
df_pokemon.drop(columns='Type', inplace=True)

KeyError: "['Type'] not found in axis"